@import '../../scss/config';
@import '../../scss/mixins';

.shopping-cart-icon{
  font-size: 2.875rem;
  position: relative;
  cursor: pointer;
  max-width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  color: $primary-color;

  .amount-counter{
    @include flexCenter();
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 20px;
    background-color: $tertiary-color;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
  }
}

@media (max-width:500px){
  .shopping-cart-icon{
    font-size: 36px;

    .amount-counter{
      top: 4px;
    left: 15px;
    }
  }
}