@import '../../scss/config';
@import '../../scss/mixins';

.empty-cart{
  width: 100vw;
  height: 92vh;
  @include displayFlex(row,center,center);
}

.total{
  text-align: center;
  font-family: $primary-font;
  font-size: 2.5rem;
  font-weight: bolder;
}