// colors
$primary-color: #E9F0F2;
$secondary-color: #7EDDF2;
$tertiary-color: #025959;


// fonts
$primary-font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
$secondary-font: 'Poppins', sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}